.post {
  width: 35vw;
  height: 65vh;
  margin: 10vh auto;
  background-color: aliceblue;
  padding: 1%;
  border: 5px solid black;
  text-align: center;
  font-size: 42px;

}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #FFCDD2;
  color: #212120;
}

.header {
  margin: 1px auto;
  text-align: center;
  border-bottom: 5px solid #F44336;
  padding: 10px 100px;
  background-color: #FFCDD2;
  font-size: 26px;
}

img {
  margin: 1vh 1vw;
  background-color: aliceblue;
  text-align: center;
  border: 5px groove #FFEB3B;
}

.writing {
  font-size: 25px;
  margin-top: 2vh;
}

span {
  font-size: 40px;
}

#img-1 {
  height: 40vh;
  width: auto;
}

#img-2 {
  height: 40vh;
  width: auto;
}

#img-3 {
  height: 47vh;
  width: auto;
}